@import "colors";

.blueButton {
  background-color: #004e96;
  padding: 2px;
  border: none;
  border-bottom: 2px solid $gray;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.1s;
  margin: 0.2rem;
  position: relative;
  color: white;

  &:active {
    border-bottom: 1px solid $gray;
    margin-bottom: 0.3rem;
    bottom: -2px;
  }
}

.dates {
  color: $gray;
  font-size: 0.8em;
}

.input {
  span {
    color: black;
    font-size: 1em;
  }
  input {
    color: black;
    font-size: 1em;
    padding: 0.5rem;
    width: 100%;
  }
  textarea {
    color: black;
    width: 100%;
    font-size: 1em;
    padding: 0.5rem;
    height: 5rem;
  }
}

.close {
  line-height: 1;
  background: no-repeat;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.1s;

  &:active {
    font-weight: bold;
  }
}

.back {
  background: none;
  border: none;
  font-size: 12px;
  transition: 0.5s;
  cursor: pointer;

  &:active {
    font-size: 13px;
  }
}
.deleteButton {
  @extend .blueButton;
  color: $white;
  background-color: $red;
  padding: 0.5rem 1rem;
}

.editButton {
  @extend .deleteButton;
  background-color: $green;
}

.separator {
  border-right: 1px solid $gray;
  width: 2px;
  height: 2.5 rem;
}

.link {
  font-size: 1em;
  color: $gray;
}

.nav {
  display: flex;
  align-items: center;
  div {
    display: flex;
    align-items: center;
    padding: 6px;
    align-content: space-around;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  div:last-child .separator {
    display: none;
  }
}

.articleListElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.linkToDiv {
  display: block;
  width: 100%;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $gray;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: $white;
  margin: 15% auto;
  flex-direction: column;
  padding: 20px;
  border: 1px solid $gray;
  justify-content: space-between;
  &__first {
    width: 100%;
  }
  &_x {
    div {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
