$text-color: #FFCC00;
$theme_red: rgb(255, 12, 16);
$theme_black: black;

// body {
//   color : $text-color;
//   background-color : $theme_black;
// }
#content {
    background-color : $theme_black;
    h1{
        color : $theme_red;
        text-align : center;
    }
    p{
        color : $theme_red;
        text-align : justify;
    }
}
.container {
    width: 100%;
}

