.LoginForm {
    max-width: 50%;
    margin: 0 auto;
    input {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    button {
        padding:  1rem;
    }
}

.container {
    padding : 30px;
    margin : 40px;
    border-radius: 5px;
    border: solid 1px;
    justify-content: center;
    background-color: #d1e6e6 ;
    text-align: center;
    height : 300px;
}

.auth{
    font-size: 36px;
    color: black;
    padding : 5px;
}


.logBtn{
    background-color: rgb(30, 143, 30);
    border-radius: 8px;
    color : white;
    &:active{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
}